@media screen and (min-width: 687px) {
  .container-hero {
    background-color: var(--color-primary);
  }
  .hero {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .hero__content {
    width: 60%;
    order: 1;
  }
  .hero__image {
    order: 2;
  }
  .hero__name,
  .hero__text {
    text-align: inherit;
  }
  .hero ul {
    justify-content: end;
  }
  .proyect-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 40rem));
  }
  footer {
    max-width: 86rem;
  }
  .contact-info .gmail a {
    font-size: 1.5rem;
  }
}
