header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}
.header {
  background-color: var(--color-primary);
  min-height: 8rem;
  max-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__list {
  list-style: none;
  display: flex;
}
.menu__item {
  padding: 0 5rem;
  font-weight: 500;
  font-size: 1rem;
}
.menu__link {
  text-decoration: none;
  color: var(--color-second);
  cursor: pointer;
}
/*  Hero*/
@keyframes float {
  50% {
    transform: translateY(5px);
  }
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}
.hero-content {
  order: 2;
}
.hero {
  background-color: var(--color-primary);
  display: flex;
  color: var(--color-second);
  width: 60vw;
  min-height: calc(100vh - 8rem);
  align-items: center;
  justify-content: space-between;
}
.hero__name {
  margin: 0;
  font-weight: 600;
  font-size: 5rem;
}
.hero__text {
  font-size: 2.5rem;
  margin: 2rem 0;
}
.hero__link {
  text-decoration: none;
  color: var(--color-second);
  cursor: pointer;
}
.hero__list {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 3rem;
}
.hero__items svg:hover {
  transform: translatey(-5px);
}
.hero__items svg {
  transition: transform 0.2s linear;
}
/* Imagen del Hero */
.hero__contact {
  position: absolute;
  right: 0;
  top: 0.5rem;
  display: flex;
  border: 0.1rem solid var(--color-second);
  background-color: var(--color-seventh);
  border-radius: 2em;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  animation: float 3s ease-in-out infinite;
}
.hero__image {
  position: relative;
  max-height: 50rem;
  order: 1;
}
.hero__image a {
  text-decoration: none;
  color: var(--color-second);
}
.hero__image img {
  object-fit: contain;
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 0;
}
.hero__image :hover {
  background-color: var(--color-fifth);
  cursor: pointer;
}
/* Secciones del proyecto */
main {
  background-color: var(--color-second);
  margin-top: 7rem;
}
.proyect-section h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-sixth);
  margin-bottom: 2rem;
  margin-top: 20px;
}
footer {
  display: flex;
  background-color: var(--color-second);
  align-items: center;
  justify-content: center;
  margin: 7rem;
}
.contact-container {
  font-size: 2rem;
  border: 1px solid var(--color-nineth);
  border-radius: 2rem;
  background-color: var(--color-eighth);
}
.contact-title {
  margin: 2rem;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
}
.contact-content {
  margin: 0 15rem;
  display: flex;
  justify-content: center;
}
.contact-info {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.contact-info a {
  border: 1px solid var(--color-nineth);
  border-radius: 2rem;
  padding: 1rem 1rem;
  display: flex;
  align-content: center;
  background-color: var(--color-second);
  color: var(--color-tenth);
}
